body {
  background: rgb(155, 36, 0);
  background: url(/images/fire.gif);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

img {
  margin: auto;
  display: inline-block;
  width: 80%;
}