body {
  background: rgb(155, 36, 0);
  background: url(/images/fire.gif);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

img {
  margin: auto;
  display: inline-block;
  width: 80%;
}

/*
 * Animation
*/

.animated {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* https://webdesignerhut.com/5-animations-using-css-keyframes/ */

/*
 * Pulse animation
*/

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(2) rotate(45deg); }
  100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(2) rotate(45deg); }
  100% { transform: scale(1); }
}
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
